body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}

#menu {  
    align-items: center;
    display: flex;
    height: 100vh;
	flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
}

#menu-items {
    position: relative;
    z-index: 3;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
}

#menu[data-active-index="4"] > #menu-background-pattern {
    background-position: 0% -125%;
}

#menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
    background-position: center 60%;
}

#menu[data-active-index="4"] > #menu-background-image {
    background-position: center 65%;
}

#menu-background-pattern {
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%, 
        transparent 9%
        );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
        background-size 800ms ease,
        background-position 800ms ease;
    width: 100vw;
    z-index: 2;
}

#menu-background-image {
    background-image: url("Pictures/prism.jpg");
    background-position: center 40%;
    background-size: 110vmax;
    height: 100%;
    left: 0px;  
    opacity: 0.15;
    position: fixed;
    top: 0px;
    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
    width: 100%;
    z-index: 0;
}

#menu-bio {
    opacity: 1;
    transition: opacity 800ms ease;
    display: flex;
    align-items: center;
    right: 0px;
    z-index: 3;
    background: rgba(37, 37, 37, .5);
    border-radius: 4%;
}

#menu-bio-text {
    color: white;
    position: relative;
    font-family: 'Ibarra Real Nova', serif;
    font-size: clamp(1rem, 1vw + 1rem, 4rem);
    max-width: clamp(10rem, 15vw + 10rem, 40rem);
    word-wrap: break-word;
    margin-left: clamp(1rem, 1vw, 3rem);
    margin-right: clamp(1rem, 1vw, 3rem);
    text-align: center;
}

#menu-bio-image {
    width: clamp(3rem, 15vw + 5rem, 20rem);
    height: auto;
    position: relative;
    border-radius: 5%;
    margin-left: clamp(1rem, 1vw + 1rem, 3rem);
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.1;
}


#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1; 
}

#menu-items:hover ~ #menu-bio {
    opacity: 0.3;
}

.menu-item {
    color: white;
    cursor: pointer;
    display: block;
    font-family: 'Ibarra Real Nova', serif;
    font-size: clamp(3rem, 5vw + 1rem, 6rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    text-decoration: none;
    transition: opacity 400ms ease;
}

a {
    color: white;
  }

@media (max-width: 800px), (orientation: portrait) {
    #menu {
        flex-direction: column;
    }
} 